.profileLogo{
    @apply text-pink-600 ;
    font-family: "Dancing Script", cursive !important;
    font-optical-sizing: auto;
    font-size:x-large;
    font-weight: 700;
    font-style:normal;
}

@media (min-width: 320px) and (max-width: 480px){
    .avtardiv{
        flex-direction: column;
        align-items: center;
    }

    .avatarText{
        margin-top: 2em;
    }

    .cardDiv{
        flex-direction: column;
        gap: 5em;
    }
}